
<link href="~/app-assets/assets/css/CustomCards.css" rel="stylesheet" />

<!-- font icons-->
<!-- END VENDOR CSS-->
<!-- BEGIN ROBUST CSS-->
<link rel="stylesheet" type="text/css" href="~/app-assets/css/bootstrap-extended.css">
<link rel="stylesheet" type="text/css" href="~/app-assets/css/app.css">
<link rel="stylesheet" type="text/css" href="~/app-assets/css/colors.css">
<link rel="stylesheet" type="text/css" href="~/app-assets/css/icomoon.css">
<!-- END ROBUST CSS-->
<!-- BEGIN Page Level CSS-->

<div class="container">
    <iframe width="100%" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiODQxZDg5N2ItYWE1OS00NzM1LTk2YjUtNmI3NWZjYjEzM2MwIiwidCI6IjE4ZTFhZmJjLTA0OWUtNDRmMS05NWJjLTE4MjE2YTM5ODEzOSIsImMiOjZ9" frameborder="0" allowFullScreen="true"></iframe>
    @*<div class="row">
        <div class="col-md-12" style="margin-top: 30px ; margin-left: 30px">
            <label class="Tittle_Settings_Main" style="display:block;margin-bottom:10px;font-weight: bold;" data-i18n="Person_Filters">Filters</label>
            <label class="Tittle_Settings_secondLine" style="display:block;margin-left:20px;margin-bottom:10px;" data-i18n=""></label>

            <div class="Container_Controls" style="display:block;margin-left:40px;margin-bottom:10px;">
                <div class="form-group col-md-4">
                    <label data-i18n="Person_reports_date_from">Date From:</label>
                    <div class="position-relative has-icon-left">
                        <input type='text' id="StartDate" class="form-control" placeholder="mm/dd/yyyy" style="background-color: white;" />
                        <div class="form-control-position">
                            <i class="icon-calendar"></i>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label data-i18n="Person_reports_date_to">Date to:</label>
                    <div class="position-relative has-icon-left">
                        <input type='text' id="EndDate" class="form-control" placeholder="mm/dd/yyyy" style="background-color: white;" />
                        <div class="form-control-position">
                            <i class="icon-calendar"></i>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <div style=" margin: 0 10px;margin-top: 8px;">
                        <label for=""></label>
                        <div class="position-relative has-icon-left">
                            <button class="btn btn-success" id="btnSearch" type="submit" data-i18n="Person_Filter">Filter</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="col-xs-12">
                <div class="card-header">
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0"></ul>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <div id="line-chart1"></div>
                    </div>
                </div>
                <h4 class="card-title" data-i18n="Person_reports_web_search_requests" style="font-size:17px!important">TOTAL SEARCHES REQUESTED</h4>
            </div>
            <div class="col-xs-12">
                <div class="card-header">
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0"></ul>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <div id="line-chart2"></div>
                    </div>
                </div>
                <h4 class="card-title" data-i18n="Person_reports_web_portal" style="font-size:17px!important">TOTAL lOGIN / SECURE PORTAL</h4>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="col-xs-12">
                <div class="card-header">
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0"></ul>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <div id="line-chart3"></div>
                    </div>
                </div>
                <h4 class="card-title" data-i18n="Person_reports_web_public_hits" style="font-size:17px!important">TOTAL OF PUBLIC HITS</h4>
            </div>
            <div class="col-xs-12">
                <div class="card-header">
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0"></ul>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <div id="line-chart4"></div>
                    </div>
                </div>
                <h4 class="card-title" data-i18n="Person_reports_web_number_email_register" style="font-size:17px!important">NUMBER OF EMAIL REGISTERED</h4>
            </div>
        </div>
    </div>*@
</div>
@*<script>
    $("#reports").attr({
        class: "active"
    });

    var urlGetReportsWeb = '@Url.Action("GetReportsWeb", "Reports")';
</script>
<script src="~/app-assets/assets/js/CustomCards.js"></script>
<script src="https://www.google.com/jsapi" type="text/javascript"></script>
<script src="~/app-assets/assets/js/Reports.js"></script>*@
