
<link href="~/app-assets/assets/css/CustomCards.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="~/app-assets/css/bootstrap-extended.css">
<link rel="stylesheet" type="text/css" href="~/app-assets/css/app.css">
<link rel="stylesheet" type="text/css" href="~/app-assets/css/colors.css">
<link rel="stylesheet" type="text/css" href="~/app-assets/css/icomoon.css">

<div class="container">
    <iframe width="100%" height="700" src="https://nam11.safelinks.protection.outlook.com/?url=https%3A%2F%2Fapp.powerbi.com%2Fview%3Fr%3DeyJrIjoiMmEyZWRmMTMtMmYyOS00NWY1LWIzNWEtNTMxNDgyNzE5YzIzIiwidCI6IjFkMzc2ZTM0LTlmM2EtNGFmMi1hY2M5LWU5ZTc4MDRkZDRjYSIsImMiOjF9&amp;data=01%7C01%7Chtorrico%40truenorthcorporation.com%7C874babf6173b4a4a504908d834a75408%7C18e1afbc049e44f195bc18216a398139%7C0&amp;sdata=gtVByL3ez%2Bqxg%2FwQ3KrUXrXpWSMGz6z4q%2BpN7f9GMrc%3D&amp;reserved=0" frameborder="0" allowFullScreen="true"></iframe>
</div>