
@{
    ViewBag.Title = "Select Your Preferred Insurer (MCO)";
    Layout = "~/Views/Shared/_Layout-Principal-English.cshtml";
    ViewBag.Ruta = "CambiarMco";
}

<main>
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
            </div>
            <div class="col">
                <h1>Select Your Preferred Insurer (MCO)</h1>
                <p>
                    <strong>Ready to change your Insurer (MCO)?</strong><br>
                    If you are ready to change your Insurer (MCO) and you confirmed your preferred primary care physician (PCP) and primary medical group (PMG) is in the Insurer's network, <span class="titulo--secundario">log in now</span>  to change your Insurer.
                </p>

                <p><a class="btn btn-lg btn-info sso-link btn_LoginSelfEnrollment" role="button" href="@ViewBag.SelfServices" target="_blank">Log In Now</a></p>

                <p>
                    <strong>Please note:</strong><br>
                    We will need to keep your information secure and protected. You will be asked to enter:
                </p>
                <ul>
                    <li>Last four digits of your Social Security Number</li>
                    <li>Birth date</li>
                    <li>ZIP Code</li>
                </ul>
                <p>After the above information is confirmed, you will be asked to create a user identification and password before you can log in and change your Insurer.</p>
                <!-- <h4 class="heading--gray">Resource downloads</h4>
                <p><a href="pdf/pdf-placeholder.pdf">Steps to change Insurer (MCO)</a></p> -->
                <h4 class="heading--gray">Questions</h4>
                <p>Contact the VITAL Counseling Center at <strong>1-833-253-7721</strong> free of charge Monday through Friday from 8:00 a.m. to 6:00 p.m.</p>
                <p>TTY/TDD service is available only for Audio Impaired at <strong>1-888-984-0128</strong>.</p>
            </div>
            <div class="col-lg-3">
            </div>
        </div>
    </div>
</main>

