
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout-Principal-English.cshtml";
    ViewBag.Ruta = "Index";
}

<img src="~/wwwroot/assets/img/hero-english.jpg" width="1920" height="509" class="jumbotron__hero">
<main>
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="card mb-2"> 
                    <div class="card-body card__text-bar">
                        <p>The Annual Open Enrollment Period has ended.</p>
                        <ul>
                            <li>If you are only trying to change or update your PMG or PCP, please contact your insurer directly.</li>
                            <li>If you are looking for information about your medical ID card, you can call or visit your insurer’s website (see below for contact information).</li>
                        </ul>
                    </div>
                </div>
                <div class="card mb-2">
                    <div class="card-body card__text-bar">
                        For information related to recertification appointments, please contact 787-641-4224.
                    </div>
                </div>

                <h2 class="heading heading--ltblue">Additional Information</h2>
                <div class="row">
                    <div class="col-lg-3 col-md-6 mb-3 mb-lg-0">
                        <a href="Overview">
                            <div class="tile">
                                <img class="img-fluid" src="~/wwwroot/assets/img/happy-family.jpg" alt="">
                                <h3 class="tile__title tile__title--blue">Overview</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-3 mb-lg-0">
                        <a href="DetailHighlights">
                            <div class="tile">
                                <img class="img-fluid" src="~/wwwroot/assets/img/pregnant-woman-young-girl.jpg" alt="">
                                <h3 class="tile__title tile__title--blue">Detail Highlights</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-3 mb-lg-0">
                        <a href="ProviderSearch">
                            <div class="tile">
                                <img class="img-fluid" src="~/wwwroot/assets/img/medical-symbol.jpg" alt="">
                                <h3 class="tile__title tile__title--blue">Provider Search</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-3 mb-lg-0">
                        <a href="OfficeLocations">
                            <div class="tile">
                                <img class="img-fluid" src="~/wwwroot/assets/img/doctor-patient.jpg" alt="">
                                <h3 class="tile__title tile__title--blue">Medicaid Office Locations</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <h2 class="heading heading--green">Choose Your New Insurer (MCO)</h2>
                <div class="row">
                    <div class="col-lg-3 col-md-6 mb-3 mb-lg-0">
                        <a href="ChangeMco">
                            <div class="tile">
                                <img class="img-fluid" src="~/wwwroot/assets/img/doctor-patient-2.jpg" alt="">
                                <h3 class="tile__title tile__title--green">Select Your Preferred Insurer (MCO)</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-3 mb-lg-0">
                        <a href="MakeAppointment">
                            <div class="tile">
                                <img class="img-fluid" src="~/wwwroot/assets/img/man-and-woman.jpg" alt="">
                                <h3 class="tile__title tile__title--green">Make a VITAL Orientation Appointment</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-3 mb-lg-0">
                        <a href="ContactInsurer">
                            <div class="tile">
                                <img class="img-fluid" src="~/wwwroot/assets/img/medical-professionals.jpg" alt="">
                                <h3 class="tile__title tile__title--green">Contact Your Insurer (MCO)</h3>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="card mt-5 mb-2">
                    <div class="card-body card__text-bar">
                        <div class="row">
                            <div class="col-xl-2 col-lg-3"><strong>Insurers:</strong></div>
                            <div class="col">First Medical 1-844-347-7800, MMM 1-844-336-3331, Molina Healthcare 1-877-335-3305, Menonita 1-866-600-4753, Triple-S 1-800-981-1352</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>

