
@{
    ViewBag.Title = "Información General";
    ViewBag.Ruta = "Overview";

}
<main>
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                @*<a href="Index" class="home"><span aria-hidden="true">&lt;</span> P&aacute;gina inicial</a>*@
            </div>
            <div class="col-md-6 col-lg-9">
                <h1>Informaci&oacute;n General</h1>
                <p><strong>VITAL, Salud en tus manos</strong></p>
                <p>El Plan de Salud VITAL le brinda un sistema de salud s&oacute;lido, completo y m&aacute;s accesible para usted. Usted y los miembros de su familia elegibles pueden seleccionar una de cuatro aseguradoras que ofrecen la misma cobertura de servicios m&eacute;dicos a trav&eacute;s de toda la isla.</p>
                <p>El Plan de Salud VITAL:</p>
                <ul>
                    <li>Brinda un mejor acceso a los servicios m&eacute;dicos a trav&eacute;s de toda la isla.</li>
                    <li>Promueve la m&aacute;s alta calidad de cuidado m&eacute;dico.</li>
                </ul>
                <p>Usted podr&aacute; seleccionar entre quedarse con la aseguradora que le fue asignada o cambiarse a la aseguradora de su preferencia.</p>
                <p>Recuerde: s&oacute;lo se requiere llamar si quiere hacer un cambio o necesita orientaci&oacute;n.</p>
                <p>Cada a&ntilde;o, los beneficiarios tendr&aacute;n una sola oportunidad para cambiar de aseguradora durante el Periodo de Inscripci&oacute;n Abierta. Luego de que termina el Periodo de Inscripci&oacute;n Abierta, los beneficiarios podr&aacute;n cambiarse de aseguradora en cualquier momento pero solo si existe una Justa Causa. Para obtener m&aacute;s informaci&oacute;n busque en la Gu&iacute;a del Beneficiario.</p>
                <p class="titulo--color card--background"><strong>Todas las aseguradoras bajo el Plan de Salud VITAL ofrecen la misma cobertura de servicios de salud. Sin embargo, cada aseguradora cuenta con su propia red de proveedores compuesta por m&eacute;dicos, grupos m&eacute;dicos y hospitales que usted podr&aacute; comparar en este portal.</strong></p>
                <p>Si necesita recibir orientaci&oacute;n sobre el nuevo modelo de salud o de las redes de proveedores de las aseguradoras puede llamar al Centro de Orientaci&oacute;n VITAL a trav&eacute;s de los n&uacute;meros <strong>1-833-253-7721</strong> ó <strong>1-800-981-2737</strong>.</p>
                <ul>
                    <li>
                        Horario
                        <ul>
                            <li>Lunes a Viernes: 8:00 a.m. a 6:00 p.m.</li>
                        </ul>
                    </li>
                    <li>
                        Servicio de TTY/TDD disponible s&oacute;lo Audio Impedido
                        <ul>
                            <li>1-888-984-0128</li>                            
                        </ul>
                    </li>
                </ul>
                <p>Este portal le ayudar&aacute; a conocer la red de proveedores de cada aseguradora. Por ejemplo, podr&aacute; identificar con qu&eacute; aseguradora se encuentra contratado el m&eacute;dico primario y/o especialista de su preferencia. Puede utilizar este portal para realizar el cambio de aseguradora. Para realizar el cambio de aseguradora debe seleccionar un m&eacute;dico primario y un grupo m&eacute;dico primario.</p>
            </div>
            <div class="col-md-6 col-lg-3">

                <div class="callout">
                    <h4>Preguntas</h4>
                    <p><a href="~/wwwroot/assets/pdf/faq-plan-de-salud-vital-es.pdf" target="_blank">Haga clic para descargar las preguntas frecuentes </a></p>
                    <p>Comun&iacute;quese con el Centro de Orientaci&oacute;n VITAL al <strong>1-833-253-7721</strong> libre de costo lunes a viernes de 8:00 a.m. a 6:00 p.m.</p>
                    <p>Servicio de TTY/TDD disponible s&oacute;lo Audio Impedido en el <strong>1-888-984-0128</strong>.</p>
                    <p>Consejeros de inscripci&oacute;n est&aacute;n disponibles para consultas telef&oacute;nicas desde las 8:00 a.m. hasta las 6:00 p.m., o en las oficinas de Medicaid a trav&eacute;s de toda la isla desde las 7:30 a.m. hasta las 4:00 p.m., lunes a viernes. Puede coordinar una cita personalizada con su consejero de inscripci&oacute;n a trav&eacute;s de este portal.</p>
                    <p>Para acceder informaci&oacute;n adicional sobre el Plan de Salud VITAL &mdash; <a href="http://www.planvitalpr.com">www.planvitalpr.com</a>. Para otros temas &mdash; <a href="http://www.asespr.org">www.asespr.org</a>.</p>
                </div>
            </div>
        </div>
    </div>
</main>
