
@{
    ViewBag.Title = "Temas Importantes";
    ViewBag.Ruta = "DetailHighlights";
}

<main>
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                @*<a href="Index" class="home"><span aria-hidden="true">&lt;</span> P&aacute;gina inicial</a>*@
            </div>
            <div class="col-md-6 col-lg-9">
                <h1>Temas Importantes</h1>
                <div class="accordion">
                    <div class="card">
                        <button type="button" aria-expanded="false" class="card-header accordion__header collapser plus">
                            <h4 class="mb-0 accordion__title">Periodo de <strong>Inscripci&oacute;n Abierta</strong></h4>
                        </button>
                        <div class="collapse">
                            <div class="card-body accordion__body">
                                <p>El Periodo de Inscripci&oacute;n Abierta es la oportunidad anual que se le concede a todos los beneficiarios del Plan de Salud VITAL para efectuar un (1) cambio de aseguradora. Esta oportunidad de cambio de aseguradora tambi&eacute;n le permitir&aacute; a usted y a los miembros de su familia el seleccionar el m&eacute;dico primario (PCP) conjuntamente con el grupo m&eacute;dico primario (PMG) de su preferencia.</p>
                                <p>Usted y los miembros de su familia elegibles pueden seleccionar una de cuatro aseguradoras que ofrecen la misma cobertura de servicios m&eacute;dicos a trav&eacute;s de toda la isla. Recuerde que usted necesita seleccionar un m&eacute;dico primario (PCP) y un grupo m&eacute;dico primario (PMG) para poder efectuar el cambio de aseguradora deseado.</p>                                
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <button type="button" aria-expanded="false" class="card-header accordion__header collapser plus">
                            <h4 class="mb-0 accordion__title">Fechas de efectividad luego del cambio de aseguradora</h4>
                        </button>
                        <div class="collapse">
                            <div class="card-body accordion__body">
                                <div class="table-responsive">
                                    <table class="table table-sm">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <strong>
                                                        noviembre<br>
                                                        Del 1 al 20 de noviembre
                                                    </strong><br>
                                                    Estar&aacute; inscrito en su nueva aseguradora a partir del 1 de diciembre de 2020.<br>
                                                    <strong>Del 21 al 30 de noviembre</strong><br>
                                                    Estar&aacute; inscrito en su nueva aseguradora a partir del 1 de enero de 2021.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>
                                                        diciembre<br>
                                                        Del 1 al 20 de diciembre
                                                    </strong><br>
                                                    Estar&aacute; inscrito en su nueva aseguradora a partir del 1 de enero de 2021.<br>
                                                    <strong>Del 21 al 31 de diciembre</strong><br>
                                                    Estar&aacute; inscrito en su nueva aseguradora a partir del 1 de febrero de 2021.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="border-bottom">
                                                    <strong>
                                                        enero<br>
                                                        Del 1 al 20 de enero
                                                    </strong><br>
                                                    Estar&aacute; inscrito en su nueva aseguradora a partir del 1 de febrero de 2021.<br>
                                                    <strong>Del 21 al 31 de enero</strong><br>
                                                    Estar&aacute; inscrito en su nueva aseguradora a partir del 1 de marzo de 2021.
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <p><strong>Recordatorio:</strong> Si usted realiza un cambio de aseguradora despu&eacute;s del d&iacute;a 20 del mes, es decir, desde el d&iacute;a 21 del mes hasta el &uacute;ltimo d&iacute;a del mes, su nueva selecci&oacute;n de aseguradora tendr&aacute; vigencia el primer d&iacute;a del mes subsiguiente.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <button type="button" aria-expanded="false" class="card-header accordion__header collapser plus">
                            <h4 class="mb-0 accordion__title">Cobertura del Plan de Salud VITAL</h4>
                        </button>
                        <div class="collapse">
                            <div class="card-body accordion__body">
                                <p>Los siguientes beneficios de salud continuar&aacute;n bajo la cobertura del Plan de Salud VITAL de cualquier aseguradora seleccionada:</p>
                                <ul>
                                    <li>Dental</li>
                                    <li>Farmacia</li>
                                    <li>Hospitales</li>
                                    <li>Servicios de salud f&iacute;sica</li>
                                    <li>Servicios de salud mental</li>

                                </ul>
                                <p>
                                    <strong>Atenci&oacute;n especializada</strong><br>
                                    Los beneficiarios del  Plan de Salud VITAL que padezcan condiciones cr&oacute;nicas tendr&aacute;n acceso a atenci&oacute;n m&eacute;dica brindada por un equipo dedicado de proveedores especializados en el cuidado y tratamiento de las siguientes condiciones:
                                </p>
                                <ul>
                                    <li>Asma</li>
                                    <li>C&aacute;ncer</li>
                                    <li>Diabetes</li>
                                    <li>Enfermedad mental severa</li>
                                    <li>Enfermedad pulmonar obstructiva cr&oacute;nica</li>
                                    <li>Enfermedad renal en etapa terminal</li>
                                    <li>Hipertensi&oacute;n y cardiopat&iacute;a severa</li>
                                    <li>Problemas emocionales severos</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <button type="button" aria-expanded="false" class="card-header accordion__header collapser plus">
                            <h4 class="mb-0 accordion__title">Nuevos Beneficiarios</h4>
                        </button>
                        <div class="collapse">
                            <div class="card-body accordion__body">
                                <p><strong>Nuevos Beneficiarios (los que reciben su elegibilidad a partir del 1 de noviembre en adelante)</strong></p>
                                <p>Los nuevos beneficiarios que reciben su elegibilidad al Plan de Salud VITAL, tendr&aacute;n la oportunidad de seleccionar la aseguradora de su preferencia durante la cita de evaluaci&oacute;n de elegibilidad que lleva a cabo el Programa de Medicaid. Si usted no selecciona una aseguradora en su cita de evaluaci&oacute;n de elegibilidad, se le asignar&aacute; una automáticamente. Sin embargo, usted tendr&aacute; una oportunidad de cambiar la aseguradora seleccionada o auto-asignada durante un periodo de 90 d&iacute;as, contados a partir de la fecha de elegibilidad concedida por el Programa de Medicaid. Expirados estos 90 d&iacute;as solo podr&aacute; realizar cambios de aseguradora por Justa Causa.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <button type="button" aria-expanded="false" class="card-header accordion__header collapser plus">
                            <h4 class="mb-0 accordion__title">Definiciones</h4>
                        </button>
                        <div class="collapse">
                            <div class="card-body accordion__body">
                                <p>
                                    <strong>Aseguradora (MCO)</strong><br>
                                    Una aseguradora (MCO) es una organizaci&oacute;n que administra la prestaci&oacute;n de servicios m&eacute;dicos, hospitalarios y dentales en Puerto Rico que posee licencia para operar como aseguradora contratada para el Plan de Salud VITAL. Las aseguradoras participantes son:
                                </p>
                                <ul>
                                    <li>First Medical Health Plan</li>
                                    <li>MMM Multi Health</li>
                                    <li>Plan de Salud Menonita</li>
                                    <li>Triple-S Salud</li>
                                </ul>
                                <p>
                                    <strong>M&eacute;dico Primario (PCP)</strong><br>
                                    Cuando se inscriba con su aseguradora, debe seleccionar un m&eacute;dico primario o un "m&eacute;dico de cuidado primario" (en ingl&eacute;s “Primary Care Physician” o PCP). Este ser&aacute; el m&eacute;dico principal que usted ver&aacute; para manejar la mayor parte del cuidado de su salud. Esto incluye chequeos, tratamiento para catarros y gripe, problemas de salud y ex&aacute;menes m&eacute;dicos. Su PCP puede encontrar y tratar los problemas de salud en etapa temprana. Tambi&eacute;n, tendr&aacute; su historial m&eacute;dico y podr&aacute; ver el cuadro completo del cuidado de su salud. Su PCP tambi&eacute;n le da seguimiento a los cuidados de salud que usted necesita. Hay diferentes tipos de m&eacute;dicos que funcionan como PCPs. Estos son:
                                </p>
                                <ul>
                                    <li>Geriatras</li>
                                    <li>Internistas</li>
                                    <li>M&eacute;dicos de Familia</li>
                                    <li>M&eacute;dicos Generalistas</li>                                    
                                    <li>Pediatras</li>
                                </ul>
                                <p>Usted debe elegir un PCP para cada miembro asegurado en su familia. Los miembros de su familia pueden tener PCPs diferentes.</p>
                                <p>
                                    <strong>Grupo M&eacute;dico Primario (PMG)</strong><br>
                                    Un Grupo M&eacute;dico Primario (PMG) es un grupo de doctores que ayudan a organizar sus servicios de cuidado de salud y trabajan con su aseguradora para garantizar que usted obtenga el cuidado que necesita. Su tarjeta de identificaci&oacute;n muestra el nombre de su PCP y el n&uacute;mero de su Grupo M&eacute;dico Primario.
                                </p>
                                <p>
                                    <strong>M&eacute;dico Obstetra/Ginec&oacute;logo (OB/GYN)</strong><br>
                                    De usted quedar embarazada, tiene derecho a seleccionar a un obstetra como m&eacute;dico de cabecera. Este proceso lo puede hacer directamente con su aseguradora. Si previo al 1ero de noviembre estaba ya registrada con su obstetra, usted se mantiene con el mismo m&eacute;dico.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="callout">
                    <h4>Preguntas</h4>
                    <p><a href="~/wwwroot/assets/pdf/faq-plan-de-salud-vital-es.pdf" target="_blank">Haga clic para descargar las preguntas frecuentes. </a></p>
                    <p>Comun&iacute;quese con el Centro de Orientaci&oacute;n VITAL al <strong>1-833-253-7721</strong> libre de costo lunes a viernes de 8:00 a.m. a 6:00 p.m.</p>
                    <p>Servicio de TTY/TDD disponible s&oacute;lo Audio Impedido en el <strong>1-888-984-0128</strong>.</p>
                    <p>Consejeros de inscripci&oacute;n est&aacute;n disponibles para consultas telef&oacute;nicas desde las 8:00 a.m. hasta las 6:00 p.m., o en las oficinas de Medicaid a trav&eacute;s de toda la isla desde las 7:30 a.m. hasta las 4:00 p.m., lunes a viernes. Puede coordinar una cita personalizada con su consejero de inscripci&oacute;n a trav&eacute;s de este portal.</p>
                    <p>Para acceder informaci&oacute;n adicional sobre el  Plan de Salud VITAL &mdash; <a href="http://www.planvitalpr.com">www.planvitalpr.com</a>. Para otros temas &mdash; <a href="http://www.asespr.org">www.asespr.org</a>.</p>
                </div>
            </div>
        </div>
    </div>
</main>

