
@{
    ViewBag.Title = "Oficinas de Medicaid";
    ViewBag.Ruta = "OfficeLocations";
}

<main>
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                @*<a href="Index" class="home"><span aria-hidden="true">&lt;</span> P&aacute;gina inicial</a>*@
            </div>
            <div class="col-md-6 col-lg-9">
                <h1>Oficinas de Medicaid</h1>
                <p>
                    <strong>Encuentra una Oficina de Medicaid cerca de Usted</strong><br>
                    Los consejeros de inscripci&oacute;n est&aacute;n a su disposici&oacute;n en las oficinas de Medicaid a trav&eacute;s de toda 
                    la isla para prestar un servicio personalizado y responder a sus preguntas. Adem&aacute;s, le ayudar&aacute;n a tomar una 
                    decisi&oacute;n bien informada sobre la selecci&oacute;n de la aseguradora que mejor satisfaga sus necesidades de 
                    cuidado y atenci&oacute;n m&eacute;dica. (<strong>Nota:</strong> Si no est&aacute; seguro de tener elegibilidad para el Plan de Salud VITAL, 
                    comun&iacute;quese con una de las oficinas de Medicaid para solicitar una cita de evaluaci&oacute;n de elegibilidad. 
                    Para obtener informaci&oacute;n sobre Medicaid, llame al <strong>787-641-4224</strong> 
                    (Servicio de TTY/TDD disponible s&oacute;lo Audio Impedido en el <strong>787-625-6955</strong>).)
                </p>
                <p>
                    Para encontrar una oficina de Medicaid cerca de usted, presione el enlace y descargue el
                    <a href="~/wwwroot/assets/pdf/oficinas-medicaid-es.pdf">directorio de oficinas de Medicaid</a>.
                </p>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="callout">
                    <h4>Descarga de Documentos</h4>
                    <ul>
                        <li><a href="~/wwwroot/assets/pdf/oficinas-medicaid-es.pdf">Directorio de las Oficinas de Medicaid</a></li>
                    </ul>
                </div>
                @*<div class="tile" style="font-size:0.7em;">
                    <img class="imgOverlayColor" src="~/wwwroot/assets/img/PrincipalSelecione2.jpg">
                    <div class="texto--principal centered text-center" style="width:75%;">
                        <span class="align-middle">
                            Haga una Cita con el Centro de Orientaci&oacute;n VITAL
                        </span>
                        <br />
                        <a href="HacerCita" class="btn btn-primary align-text-bottom" style="font-size:0.7em;">MÁS INFO</a>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</main>