
@{
    ViewBag.Title = "Aseguradoras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row text-center align-items-center" style="height:200px;background-color:#0092BC;">

    <div class="col-md-4"></div>
    <div class="col-md-4">        
            <h2 style="color:white">
                ¿Necesitas cambiar tu aseguradora?
            </h2>
        
    </div>
    <div class="col-md-4"></div>

</div>

<div class="row" style="height:400px;background-color:white;padding-top: 4rem;">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card-deck text-center">
            <div class="card align-items-center" style="width: 18rem;">

                <img class="card-img-top" src="~/wwwroot/images/responsive.svg" alt="Card image cap" style=" width:128px;" />
                <div class="card-body align-items-center">
                    <h5 class="card-title" style="color:#0092BC; font-weight:bold">Personal Administrativo</h5>
                    <a href="http://localhost:6010/Enrollment" class="btn btn-primary" style="color:white">Más Información</a>
                    @*<a href="http://localhost:6010/Enrollment" class="btn btn-primary" style="color:white">Más Información</a>*@
                </div>
            </div>
         

            <div class="card align-items-center" style="width: 18rem;">
                <img class="card-img-top" src="~/wwwroot/images/student.svg" alt="Card image cap" style=" width:128px;">
                <div class="card-body">
                    <h5 class="card-title" style="color:#0092BC; font-weight:bold">Haz tu mismo el cambio</h5>
                    <a href="http://localhost:58499/ErnollmentSelfServices/User/Login" class="btn btn-primary" style="color:white">Más Información</a>
                    @*<a href="http://localhost:58499/ErnollmentSelfServices/User/Login" class="btn btn-primary" style="color:white">Más Información</a>*@
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row text-center align-items-center" style="height:20px;background-color:#0092BC;">

&nbsp;    

</div>