@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="row">
        <div class="bg" style="height:600px;">
            <div class="app-content container center-layout mt-2">
                <div class="content-wrapper">
                    <div class="content-header row">
                    </div>
                    <div class="content-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="background-color:#0092BC;padding-top: 4rem;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="card-deck text-center">
                    <div class="card align-items-center" style="width: 18rem;">

                        <img class="card-img-top" src="~/wwwroot/images/calendar.svg" alt="Card image cap" style=" width:128px;" />
                        <div class="card-body align-items-center">
                            <h5 class="card-title">FECHAS IMPORTANTES</h5>
                            <a href="#" class="btn btn-primary" style="color:white">Más Información</a>
                        </div>
                    </div>
                    <div class="card align-items-center" style="width: 18rem;">
                        <img class="card-img-top" src="~/wwwroot/images/question.svg" alt="Card image cap" style=" width:128px;">
                        <div class="card-body">
                            <h5 class="card-title">PREGUNTAS Y RESPUESTAS</h5>
                            <a href="#" class="btn btn-primary" style="color:white">Más Información</a>
                        </div>
                    </div>

                    <div class="card align-items-center" style="width: 18rem;">
                        <img class="card-img-top" src="~/wwwroot/images/analytics.svg" alt="Card image cap" style=" width:128px;">
                        <div class="card-body">
                            <h5 class="card-title">CAMBIAR TU ASEGURADORA</h5>
                            <a href="~/Home/Aseguradoras" class="btn btn-primary" style="color:white">Más Información</a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-2"></div>
    </div>
    <div class="row" style="height:350px;background-color:#0092BC;padding-top: 3rem;">
        
            <div class="card text-center col-md-12" style="border:none">
                <div class="card-body">
                    <img src="~/wwwroot/images/stethoscope.svg" style="height:128px" alt="Card image cap">
                    <h5 class="card-title" style="color:#0092BC;font-weight:bold">Proveedores de Salud</h5>
                    <a href="http://localhost:58499/ErnollmentSelfServices/Home/IndexNA" class="btn btn-primary" style="color:white">Más Información</a>
                </div>
            </div>
    </div>
    <div class="row text-center align-items-center" style="height:400px;background-color:#0092BC;">
        

            <div class="col-md-4"></div>
            <div class="col-md-4"><img src="~/wwwroot/images/familia.jpg" style="height:400px; width:600px" /></div>
            <div class="col-md-4"></div>

        
    </div>
   
</main>