@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutIdentity.cshtml";
}
<br />
<div class="card customCardLogin" style="width: 22rem;">
    <img class="card-img-top logoCardHeader" src="~/wwwroot/images/Logon_Logo_Header.jpg" alt="">
    <div class="card-body">   
        <form id="loginForm" role="form" data-toggle="validator" action="">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                            </div>
                            <input id="user-field" required type="email" maxlength="500" class="form-control" name="user" data-i18n="[placeholder]login_userplaceholder" placeholder="Usuario" aria-describedby="inputGroupPrepend">                            
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-unlock"></i></span>
                            </div>
                            <input id="password-field" required maxlength="500" class="form-control" type="password" data-i18n="[placeholder]login_passwordplaceholder" name="password" placeholder="Contraseña">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input id="btnLoginSubmit" type="submit" style="width:100%;" data-i18n="[value]login_ingresar" value="Ingresar"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <p><a href="~/User/ResetPassword/" data-i18n="login_olvidastepassword">¿Olvidaste su contraseña?</a></p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <p><a href="~/User/Register/" data-i18n="login_nuevousuario">¿Nuevo usuario?</a></p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <span data-i18n="login_disclaimer_partOne">Al ingresar, estás de acuerdo con los </span> 
                        <a href="#" data-i18n="login_disclaimer_TerminosDeServicio" data-toggle="modal" data-target="#terminosDeServicioModal">Términos de servicio</a>, 
                        <a href="#" data-i18n="login_disclaimer_DeclaracionPrivacidad" data-toggle="modal" data-target="#privacidadModal">Declaración de privacidad</a>, 
                        <span data-i18n="login_disclaimer_partTwo">y</span>
                        <a href="#" data-i18n="login_disclaimer_AvisoDeCookies" data-toggle="modal" data-target="#cookiesModal">Aviso de cookies</a>.</p>
                    </div>
                </div>
                @*<div class="form-group" style="float: right;">
                    <div class="col-md-12">
                        <p><a href="#" class="helpLink">Ayuda <i class="far fa-question-circle"></i></a></p>
                    </div>
                </div>*@
            </div>
        </form>            
    </div>
</div>
@section scripts{
    <script src="~/wwwroot/js/site.js"></script>
    <script src="~/wwwroot/js/LoginAndResetJS.js"></script>
    <script>
        var urlLogin = '@Url.Action("Login", "User")';
        var urlHome = '@Url.Action("Index", "Home")';
    </script>
}



