
@{
    ViewBag.Title = "AccesoDenegado";
}

<h2>AccesoDenegado</h2>

<p>
    Está intentando ingresar a un a página que no está autorizado, para volver a las opciones haga click <a href="@Url.Action("index","home")">aquí</a>
</p>