
<div class="custom-footer">
    <div id="btn-footer"></div>
    <div id="container">
        <div id="cont">
            <div class="custom-footer_center">
                @*<h1>PRMMIS</h1>
                <h3>&copy; @DateTime.Now.Year - <i>PR Medicaid Managment Information System</i></h3>*@
            </div>
        </div>
    </div>
</div>
@*<script>
    $("#btn-footer").hover(function () {
        $(this).css("background-color", "yellow");
    });
    $("#btn-footer").mouseout(function () {
        $(this).css("background-color", "red");
    });
</script>*@