<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead" data-i18n="DefaultIndex_Subtitle">ASP.NET es un framework web gratuito para crear excelentes sitios web y aplicaciones web utilizando HTML, CSS y JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg" data-i18n="DefaultIndex_LearnMore">Aprender m\u00E1s &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2 data-i18n="DefaultIndex_GettingStarted">Iniciando</h2>
        <p data-i18n="DefaultIndex_GettingStarted_subtitle">
           ASP.NET Web API es un marco que facilita la creación de servicios HTTP que lleguen a una amplia gama de clientes, 
           incluidos navegadores y dispositivos móviles.
           ASP.NET Web API es una plataforma ideal para compilar aplicaciones RESTful en .NET Framework.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870" data-i18n="DefaultIndex_LearnMore">Aprender m\u00E1s &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 data-i18n="DefaultIndex_GetMoreLibraries">Conseguir más librerias</h2>
        <p data-i18n="DefaultIndex_GetMoreLibraries_subtitle">NuGet es una extensión gratuita de Visual Studio que facilita agregar, eliminar y actualizar bibliotecas y herramientas en proyectos de Visual Studio.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871" data-i18n="DefaultIndex_LearnMore">Aprender m\u00E1s &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 data-i18n="DefaultIndex_WebHosting">Alojamiento Web</h2>
        <p data-i18n="DefaultIndex_WebHosting_subtitle">Puede encontrar facilmente una empresa de alojamiento web que ofrezca la combinacion adecuada de caracteristicas y precio para sus aplicaciones.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872" data-i18n="DefaultIndex_LearnMore">Aprender m\u00E1s &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p><a class="btn btn-default" href="@Url.Action("Index","Demo")" data-i18n="DefaultIndex_GoDemo">Ir a Demo &raquo;</a></p>
    </div>
</div>
